extends layout

block content
  div
    h1
      span fuck
      ul#fucks
        li him
        li her
        li this
        li you
        li me
        li it
        li everything
        li class
        li the school
        li UMZ
        li Oracle
        li gradle
        li xCode
        li expo
        li callback
        li emulator
        li google speech api
        li developer.android
        li sqlite
        li the hindi guy who creates tutorial