extends layout

block content
  div
    h1
      span fuck
      ul#fucks
        li him
        li her
        li this
        li you
        li me
        li it
        li everything
        li class
        li the school