doctype html
html
  head
    title anyFuck
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/middle.css')
    script(type="text/javascript" src="/javascripts/middle.js")
  body
    block content
